h1 {
    text-align: center;
    background-color: blue;
    color: white;
}

.card {
    background-color: blue;
    color: white;
}

.currentDisplay {
    background-color: white;
    color: black;
    width: 100%;
}

.fiveDayCards {
    justify-content: space-evenly;
}

ul {
    list-style: none;
    margin-top: 4;
}

.historyBtn {
    background-color: grey;
    color: black;
    text-align: center;
}

#searchColumn {
    width: 100%;
}

