h1 {
    text-align: center;
    background-color: blue;
    color: white;
}

.card {
    background-color: blue;
    color: white;
}

.currentDisplay {
    background-color: white;
    color: black;
}

.fiveDayCards {
    display: flex;
}